h1 {
    text-align: center;
  }
  
  table {
    margin-left: 450px;
    margin-right: 50px;
    line-height: 3rem;
    border: 1px solid black;
    border-radius: 10px;}
  
  
  th {
    width: 100px;
    text-align: center;
    background-color: yellow;
    opacity: 2;
  }
  
  td {
    text-align: center;
    font-size: large;
  }
  
  tr:hover {
    background-color: red;
    opacity: .6;
  }
  
  tr:nth-child(even) {
    background-color: pink;
  }
  
  
  tr:last-child {
    background-color: #0987;
  }
  
  th:first-child {
    text-align: left;
  }
  
  td:first-child {
    text-align: left;
  }
  
  